<div
  (click)="markAsRead(message.id)"
  class="message"
  [class.unread-bg]="!message.dateRead"
>
  <div
    class="header-info d-flex mb-1"
    [ngClass]="
      message.dateRead ? 'text-muted' : 'text-warning font-weight-bold'
    "
  >
    <div *ngIf="container === 'outbox'">
      <span class=""
        >to
        <a [routerLink]="['/user/' + message.recipientId + '/portfolios']"
          ><b>{{ message.recipientUsername }}</b></a
        >&nbsp;&nbsp;|&nbsp;&nbsp;</span
      >
    </div>
    <div *ngIf="container !== 'outbox'">
      <span class=""
        >from
        <a [routerLink]="['/user/' + message.senderUsername + '/portfolios']"
          ><b>{{ message.senderUsername }}</b></a
        >&nbsp;&nbsp;|&nbsp;&nbsp;</span
      >
    </div>
    <span>sent {{ message.messageSent | timeago }}</span>
  </div>

  <p>{{ message.content }}</p>

  <a
    class="text-btn text-btn-primary mr-3 text-info"
    [routerLink]="
      container !== 'outbox'
        ? ['/user/messages/' + message.senderUsername]
        : ['/user/messages/' + message.recipientUsername]
    "
    >Chat</a
  >

  <button
    *ngIf="!deleteMode"
    (click)="$event.stopPropagation()"
    (click)="setDeleteMode(true)"
    class="text-btn text-btn-primary text-info mr-3"
  >
    Delete
  </button>

  <div style="display: inline" *ngIf="deleteMode">
    Are you sure?
    <button
      (click)="$event.stopPropagation()"
      (click)="deleteMessage(message.id)"
      class="text-btn text-info text-btn-danger"
    >
      Confirm
    </button>
    /
    <button
      (click)="$event.stopPropagation()"
      (click)="setDeleteMode(false)"
      class="text-btn text-info mr-3 text-btn-secondary"
    >
      Cancel
    </button>
  </div>

  <button
    *ngIf="message.dateRead"
    (click)="$event.stopPropagation()"
    (click)="markAsUnread(message.id)"
    class="text-btn text-btn-primary text-info"
  >
    Mark unread
  </button>
</div>
