.message {
  width: 100%;
  border-bottom: 1px dotted #b3a9a9;
  padding: 10px 1rem 5px 1rem;
  /* padding-bottom: 10px; */
  /* margin-bottom: 15px; */
}

.unread-bg {
  background-color: rgb(227 242 255);
}

.header-info {
  font-size: 0.8rem;
}

.text-btn {
  background: none;
  font-weight: bold;
  border: none;
  font-size: 0.8rem;
}

.text-btn-primary:hover {
  text-decoration: underline;
  color: #187ca5 !important;
}
.text-btn-secondary {
  color: #7b7971;
}
.text-btn-secondary:hover {
  text-decoration: underline;
  color: #74726b;
}
.text-btn-danger {
  color: var(--color-danger);
}
.text-btn-danger:hover {
  text-decoration: underline;
  color: #d23430 !important;
}

p {
  margin-bottom: 0.1rem;
}

.margin-auto {
  margin: 0 auto;
}

form {
  width: 100%;
  padding: 0 0.8rem;
}
