<div
  (click)="container !== 'outbox' ? markAsRead(message.id) : null"
  class="message"
  [class.unread-bg]="!message.dateRead && container !== 'outbox'"
>
  <div
    class="header-info d-flex mb-1"
    [class.text-muted]="container === 'outbox'"
    [class.text-warning]="!message.dateRead && container !== 'outbox'"
    [class.font-weight-bold]="!message.dateRead && container !== 'outbox'"
    [ngClass]="message.dateRead ? 'text-muted' : ''"
  >
    <div *ngIf="container === 'outbox'">
      <span class=""
        >to
        <a [routerLink]="['/user/' + message.recipientUsername + '/portfolios']"
          ><b>{{ message.recipientUsername }}</b></a
        >&nbsp;&nbsp;|&nbsp;&nbsp;</span
      >
    </div>
    <div *ngIf="container !== 'outbox'">
      <span class=""
        >from
        <a [routerLink]="['/user/' + message.senderUsername + '/portfolios']"
          ><b>{{ message.senderUsername }}</b></a
        >&nbsp;&nbsp;|&nbsp;&nbsp;</span
      >
    </div>
    <span>sent {{ message.messageSent | timeago }}</span>
  </div>

  <p>{{ message.content }}</p>

  <a
    class="text-btn text-btn-primary mr-3 text-info"
    [routerLink]="
      container !== 'outbox'
        ? ['/user/messages/' + message.senderUsername]
        : ['/user/messages/' + message.recipientUsername]
    "
    >Message</a
  >

  <button
    *ngIf="!deleteMode"
    (click)="$event.stopPropagation()"
    (click)="setDeleteMode(true)"
    class="text-btn text-btn-primary text-info mr-3"
  >
    Delete
  </button>

  <div style="display: inline; font-size: 0.8rem" *ngIf="deleteMode">
    Are you sure?
    <button
      (click)="$event.stopPropagation()"
      (click)="deleteMessage(message.id)"
      class="text-btn text-btn-danger ml-2"
    >
      Confirm
    </button>
    /
    <button
      (click)="$event.stopPropagation()"
      (click)="setDeleteMode(false)"
      class="text-btn mr-3 text-btn-secondary"
    >
      Cancel
    </button>
  </div>

  <!-- <button
    *ngIf="message.dateRead"
    (click)="$event.stopPropagation()"
    (click)="markAsUnread(message.id)"
    class="text-btn text-btn-primary text-info"
  >
    Mark unread
  </button> -->
</div>
