<ngx-spinner></ngx-spinner>

<div class="row justify-content-center align-items-center row-custom-container">
  <div class="col-4 form-custom-container">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="registerForm.valid && register()"
    >
      <h2 class="text-center text-primary">Sign up</h2>

      <div class="form-group">
        <label for="username">Username</label>
        <input
          [class.is-invalid]="
            registerForm.get('username').errors &&
            registerForm.get('username').touched
          "
          type="text"
          class="form-control"
          formControlName="username"
        />
        <div
          class="invalid-feedback"
          *ngIf="registerForm.get('username').hasError('required')"
        >
          Please enter a username.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          [class.is-invalid]="
            registerForm.get('password').errors &&
            registerForm.get('password').touched
          "
          type="password"
          class="form-control"
          formControlName="password"
        />
        <div
          class="invalid-feedback"
          *ngIf="registerForm.get('password').hasError('required')"
        >
          Please enter your password.
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          [class.is-invalid]="
            registerForm.get('confirmPassword').errors &&
            registerForm.get('confirmPassword').touched
          "
          type="password"
          class="form-control"
          formControlName="confirmPassword"
        />
        <div
          class="invalid-feedback"
          *ngIf="registerForm.get('confirmPassword').hasError('required')"
        >
          Please confirm your password.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="registerForm.get('confirmPassword').hasError('isMatching')"
        >
          Your entered passwords don't match.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input
          [class.is-invalid]="
            registerForm.get('email').errors &&
            registerForm.get('email').touched
          "
          type="email"
          class="form-control"
          formControlName="email"
        />
        <div
          class="invalid-feedback"
          *ngIf="registerForm.get('email').hasError('required')"
        >
          Please enter your email address.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="registerForm.get('email').hasError('email')"
        >
          Please enter a valid email address.
        </div>
      </div>

      <div *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
          <li *ngFor="let error of validationErrors">
            {{ error }}
          </li>
        </ul>
      </div>

      <div class="form-group text-center">
        <button
          [disabled]="!registerForm.valid"
          class="btn btn-success btn-block"
          type="submit"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
