<h3 class="ml-3 mt-4">New Portfolio</h3>
<form
  class="mt-3 form-inline col-6"
  #createPortfolioForm="ngForm"
  (ngSubmit)="createPortfolio()"
>
  <div class="input-group">
    <input
      type="text"
      [(ngModel)]="newPortfolio.name"
      class="form-control"
      placeholder="Enter a portfolio name"
      name="name"
      autocomplete="off"
    />
    <div class="input-group-append">
      <button
        [disabled]="!createPortfolioForm.dirty"
        type="submit"
        class="btn btn-primary"
        style="height: 2.2rem"
      >
        Create
      </button>
    </div>
  </div>
</form>
