.positions-header {
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.positions-title {
  margin-bottom: 0rem;
  font-size: 1.6rem;
  margin-left: 0.75rem;
}

.btn-container {
  margin-right: 6rem;
}
.menu-button {
  margin-right: 1rem;
  align-items: center;
  font-size: 0.8rem;
  width: 118px;
}

.actions-button {
  margin-right: 1rem;
  align-items: center;
  font-size: 0.8rem;
}

.dropdown-toggle::after {
  /* display: none; */
}

.dropdown-item:hover {
  cursor: pointer;
}
