<div class="positions-header mt-3">
  <h3 class="positions-title">{{ currentPortfolioName }}</h3>
  <div class="btn-container" *ngIf="isPageUserLoggedInUser">
    <button
      type="button"
      class="btn btn-primary menu-button"
      (click)="isCollapsed = false"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic"
    >
      Add Ticker
      <svg-icon
        src="assets/svg/plus.svg"
        [svgStyle]="{
          'width.px': 14,
          'height.px': 14,
          'margin-top.px': -2,
          'margin-right.px': 2
        }"
      ></svg-icon>
    </button>
    <div class="btn-group" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn btn-primary dropdown-toggle actions-button"
        aria-controls="dropdown-basic"
      >
        <!-- <svg-icon
          src="assets/svg/wrench.svg"
          [svgStyle]="{
            'width.px': 14,
            'height.px': 14,
            'margin-top.px': -2,
            'margin-right.px': 2
          }"
        ></svg-icon> -->
        More Actions
      </button>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li role="menuitem">
          <a class="dropdown-item" (click)="goToAddPortfolioTab()"
            >Create new portfolio</a
          >
        </li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="openEditNameModal()"
            >Edit portfolio name</a
          >
        </li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="openDeletePortfolioModal()"
            >Delete portfolio</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
  <app-add-ticker-collapse
    [isCollapsed]="isCollapsed"
    (hideCollapseEvent)="hideCollapse($event)"
    [portfolioId]="currentPortfolioId"
    [pageUser]="pageUser"
    [handlePortfolioData]="handlePortfolioData"
    [getResults]="getResults"
    [currentTabIndex]="currentTabIndex"
  ></app-add-ticker-collapse>
</div>
