<ngx-spinner></ngx-spinner>

<div class="row justify-content-center align-items-center row-custom-container">
  <div class="col-4 form-custom-container">
    <h1 class="text-center">Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <label class="mt-2" for="username">Username</label>
      <input
        class="form-control mr-sm-2"
        type="text"
        name="username"
        [(ngModel)]="model.username"
      />
      <div *ngIf="errors.username" class="text-danger">
        We couldn't find this username in our database.
      </div>

      <label class="mt-4" for="password">Password</label>
      <input
        class="form-control mr-sm-2"
        type="password"
        name="password"
        [(ngModel)]="model.password"
      />
      <div *ngIf="errors.password" class="text-danger">
        Invalid password. *Reminder: passwords require a number, uppercase
        letter, and at least 8 characters.
      </div>

      <button class="btn btn-outline-success mt-4 w-100" type="submit">
        Login
      </button>
    </form>
  </div>
</div>
