<app-navbar></app-navbar>
<ngx-spinner></ngx-spinner>

<div class="container-xl m-nav">
  <div class="mt-3">
    <form
      #filterForm="ngForm"
      class="form-inline"
      (ngSubmit)="loadAppUsers()"
      autocomplete="off"
    >
      <div class="form-group">
        <label>Age from: </label>
        <input
          type="number"
          class="form-control ml-1"
          style="width: 70px"
          name="minAge"
          [(ngModel)]="appUserParams.minAge"
        />
      </div>
      <div class="form-group px-2">
        <label>Age to: </label>
        <input
          type="number"
          class="form-control ml-1"
          style="width: 70px"
          name="maxAge"
          [(ngModel)]="appUserParams.maxAge"
        />
      </div>
      <div class="form-group px-2">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck1"
            [(ngModel)]="appUserParams.following"
            name="following"
          />
          <label class="custom-control-label" for="customCheck1"
            >My follows</label
          >
        </div>
      </div>
      <button class="btn btn-primary ml-2" type="submit">Apply filters</button>
      <button (click)="resetFilters($event)" class="btn btn-info ml-2">
        Reset filters
      </button>
    </form>
  </div>

  <!-- <div class="btn-group mt-3">
    Sort by:
    <button
      class="btn btn-primary"
      (click)="loadAppUsers()"
      btnRadio="lastActive"
      type="button"
      name="orderBy"
      [(ngModel)]="appUserParams.orderBy"
    >
      Last active
    </button>
    <button
      class="btn btn-primary"
      (click)="loadAppUsers()"
      btnRadio="created"
      type="button"
      name="orderBy"
      [(ngModel)]="appUserParams.orderBy"
    >
      Newest members
    </button>
  </div> -->

  <div class="btn-group mt-3 d-flex align-items-center" dropdown>
    <span class="mr-2">Sort by:</span>
    <a
      id="button-basic"
      dropdownToggle
      type="button"
      class="dropdown-toggle"
      aria-controls="dropdown-basic"
    >
      {{ setOrderByDisplayName(appUserParams.orderBy) }}
      <span class="caret"></span>
    </a>
    <ul
      id="dropdown-basic"
      *dropdownMenu
      class="dropdown-menu"
      role="menu"
      aria-labelledby="button-basic"
    >
      <li role="menuitem">
        <button
          class="dropdown-item"
          (click)="loadAppUsers()"
          btnRadio="lastActive"
          type="button"
          name="orderBy"
          [(ngModel)]="appUserParams.orderBy"
        >
          Last active
        </button>
      </li>
      <li role="menuitem">
        <button
          class="dropdown-item"
          (click)="loadAppUsers()"
          btnRadio="created"
          type="button"
          name="orderBy"
          [(ngModel)]="appUserParams.orderBy"
        >
          Newest members
        </button>
      </li>
    </ul>
  </div>

  <div class="row mt-3">
    <div *ngFor="let appUser of appUsers" class="col-3">
      <app-user-card [appUser]="appUser"></app-user-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
  ></pagination>
</div>
