.username {
  font-size: 1.4rem;
}

.profile-image {
  object-fit: cover;
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.user-info-ul {
  list-style: none;
}

.banner-link {
  color: cornflowerblue;
  font-size: 0.95rem;
  width: 6rem;
  display: flex;
}

/* mobile first media query */
@media only screen and (min-width: 991px) {
  .banner-link {
    width: min-content;
  }
}
