a.dropdown-toggle {
  cursor: pointer;
}

a.dropdown-item {
  cursor: pointer;
}

img {
  max-height: 30px;
  border-radius: 20%;
  border: 1px solid #fff;
  margin-right: 1rem;
}

.mail-btn {
  border-radius: 3px;
}

.mail-btn:hover {
  background-color: rgb(117, 113, 113);
}
