<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container-xl">
    <a class="navbar-brand" routerLink="/">Portfolio Sharer</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/feed']"
            routerLinkActive="router-link-active"
            >Feed</a
          >
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/browse']"
            routerLinkActive="router-link-active"
            >Browse</a
          >
        </li>
      </ul>

      <div
        class="dropdown pl-2 mr-auto"
        *ngIf="_accountService.currentUser$ | async as user"
        dropdown
      >
        <a class="dropdown-toggle text-light" dropdownToggle>My portfolios</a>
        <div class="mt-2 dropdown-menu dropdown-menu-left" *dropdownMenu>
          <a
            routerLink="/user/{{ user.username }}/portfolios"
            class="dropdown-item"
            >View portfolios</a
          >
          <a class="dropdown-item">Trades</a>
          <a class="dropdown-item">Dividends</a>
        </div>
      </div>

      <ul class="navbar-nav mr-4 align-items-center">
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/errors']"
            routerLinkActive="router-link-active"
            >Errors</a
          >
        </li> -->
        <li class="nav-item">
          <a
            *ngIf="!(_accountService.currentUser$ | async)"
            class="nav-link"
            [routerLink]="['/register']"
            routerLinkActive="router-link-active"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="!(_accountService.currentUser$ | async)"
            class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="_accountService.currentUser$ | async"
            class="nav-link mail-btn"
            [routerLink]="['/user/messages']"
            routerLinkActive="router-link-active"
            (click)="_router.url === '/user/messages' ? reloadPage() : null"
          >
            <svg-icon
              src="assets/svg/envelope-o.svg"
              [svgStyle]="{
                'width.px': 20,
                'height.px': 20,
                fill:
                  _messageService.numberOfUnreadMessages > 0
                    ? 'var(--color-warning)'
                    : ''
              }"
            ></svg-icon
          ></a>
        </li>
      </ul>
      <img
        *ngIf="_accountService.currentUser$ | async as user"
        src="{{ user.photoUrl }}"
        alt="{{user.username}"
      />
      <div
        class="dropdown"
        *ngIf="_accountService.currentUser$ | async as user"
        dropdown
        placement="bottom left"
      >
        <a class="dropdown-toggle text-light" dropdownToggle>{{
          user.username | titlecase
        }}</a>
        <div class="mt-2 dropdown-menu dropdown-menu-right" *dropdownMenu>
          <a class="dropdown-item" routerLink="/user/messages">Messages</a>
          <a class="dropdown-item" routerLink="/user/edit-profile"
            >Edit profile</a
          >
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
