a.dropdown-toggle {
  cursor: pointer;
}

a.dropdown-item {
  cursor: pointer;
}

img {
  max-height: 30px;
  border-radius: 20%;
  margin-right: 1rem;
}

.mail-btn {
  border-radius: 3px;
}

.mail-btn:hover {
  background-color: rgb(117, 113, 113);
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #e0d2bc;
  /* color: var(--color-success); */
  /* text-decoration: underline; */
}

.router-link-active {
  /* text-decoration: underline; */
  color: #e0d2bc !important;
  /* color: var(--color-success) !important; */
}
