.user-photo {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  object-fit: cover;
}

.color-info {
  color: var(--color-info);
}
.color-info:hover {
  color: #1d95c6;
}

.strategy-div {
  min-height: 3rem;
  max-height: 3rem;
  overflow: hidden;
}
