<div class="card mb-4">
  <div class="card-body">
    <div class="d-flex align-items-center justify-content-between">
      <h4 class="card-title">{{ appUser.username }}</h4>
      <img
        class="user-photo"
        [src]="appUser.photo.url || './assets/default-user.png'"
        [alt]="appUser.username + ' profile image'"
      />
    </div>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a routerLink="/user/{{ appUser.username }}/portfolios" class="card-link"
      >View profile</a
    >
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
