<app-navbar></app-navbar>
<ngx-spinner></ngx-spinner>

<div class="container m-nav" *ngIf="_messageService.connectingToHub">
  <div class="col-10 margin-auto">
    <h5>Connecting to chat...</h5>
  </div>
</div>

<div class="container m-nav" *ngIf="!_messageService.connectingToHub">
  <div class="row" *ngIf="_messageService.messageThread$ | async">
    <div class="col-10 margin-auto">
      <div class="row d-flex flex-column">
        <h1>Messages between you and {{ username }}</h1>
        <a [routerLink]="'/user/messages'">&lArr; Go to inbox</a>
        <div
          class=""
          *ngIf="(_messageService.messageThread$ | async)?.length === 0"
        >
          No messages yet...
        </div>

        <ul
          #scrollMe
          style="overflow: scroll; height: 500px"
          [scrollTop]="scrollMe.scrollHeight"
          *ngIf="(_messageService.messageThread$ | async).length > 0"
          class="chat"
        >
          <li
            *ngFor="let message of _messageService.messageThread$ | async"
            class="flex-container"
          >
            <img
              src="{{ message.senderPhotoUrl }}"
              alt="{{ message.senderUsername }}"
            />
            <div class="flex-item">
              <div class="header">
                <small
                  *ngIf="message.senderUsername === username"
                  class="text-muted"
                >
                  <span
                    ><a [routerLink]="['/user/' + username + '/portfolios']"
                      ><b>{{ username }}</b></a
                    >&nbsp;&nbsp;|&nbsp;&nbsp;</span
                  >
                </small>
                <small
                  *ngIf="message.senderUsername !== username"
                  class="text-muted"
                >
                  <span><b>You</b>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                </small>
                <small class="text-muted">
                  <span class="">sent {{ message.messageSent | timeago }}</span>
                </small>
              </div>
              <p>
                {{ message.content }}
              </p>
            </div>
          </li>
        </ul>
      </div>

      <div class="row mt-3">
        <form
          #messageForm="ngForm"
          (ngSubmit)="sendMessage()"
          autocomplete="off"
        >
          <textarea
            name="messageContent"
            required
            [(ngModel)]="messageContent"
            type="text"
            class="form-control"
            placeholder="Send a private message"
            rows="3"
          ></textarea>
          <button
            [disabled]="!messageForm.valid || loading"
            class="btn btn-primary mt-3"
            type="submit"
          >
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
