.banner {
  position: fixed;
  height: 100vh;
  border-right: 1px solid rgb(228, 228, 228);
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 2;
}

.main {
  /* background: rebeccapurple; */
  height: 200vh;
  /* margin-left: 19rem; */
}

h1 {
  margin-left: 1rem;
  font-size: 2rem;
}

form {
  margin-left: 1rem;
}

/* photo tab styles */
.card.p-3.text-center.my-drop-zone {
  background-color: aliceblue;
  height: 7rem;
  width: 14rem;
  justify-content: center;
}

input[type="file"] {
  color: transparent;
}

.nv-file-over {
  border: dotted 3px red;
}

.or-text {
  font-size: 1.6rem;
  margin: 0 2rem 0 2rem;
}

.my-cancel-btn {
  width: max-content;
}
.my-cancel-btn:hover {
  background-color: #d9534f;
  border-color: #d9534f;
  color: #fff;
}

@media only screen and (max-width: 991px) {
  .banner {
    position: unset;
    height: unset;
    border-right: unset;
  }

  form {
    margin-left: unset;
  }
}
