<app-navbar></app-navbar>
<ngx-spinner></ngx-spinner>

<div class="container-xl m-nav">
  <div class="row" *ngIf="pageUser">
    <div class="col-2 banner">
      <app-profile-banner
        [loggedInUser]="loggedInUser"
        [pageUser]="pageUser"
      ></app-profile-banner>
    </div>

    <div class="col-2"></div>

    <div class="col-10 main">
      <tabset>
        <tab
          *ngFor="let tab of tabs; let i = index"
          [heading]="tab.title"
          [active]="tab.active"
          (selectTab)="onSelect(i)"
          (deselect)="tab.active = false"
          [disabled]="tab.disabled"
        >
          <div class="charts-container">
            <div class="mt-4 col-6 d-flex flex-column align-items-center">
              <h3
                *ngIf="
                  !(tab.title === 'Add portfolio +') && !(tab.title === 'Empty')
                "
                class="text-center mb-2"
              >
                % of Portfolio Pie
              </h3>
              <ngx-charts-pie-chart
                *ngIf="
                  !(tab.title === 'Add portfolio +') && !(tab.title === 'Empty')
                "
                [results]="results"
                [view]="[400, 250]"
                [labels]="showLabels"
                [legend]="false"
                [legendPosition]="legendPosition"
                [arcWidth]="0.5"
                [animations]="false"
              >
              </ngx-charts-pie-chart>

              <h3 *ngIf="tab.title === 'Empty'">No portfolios!</h3>
            </div>

            <h3 *ngIf="tab.title === 'Add portfolio +'">New Portfolio</h3>
            <form *ngIf="tab.title === 'Add portfolio +'">
              <input type="text" />
            </form>
          </div>
        </tab>
      </tabset>

      <app-table-menu-header
        [tableData]="tableData"
        [currentTabIndex]="currentTabIndex"
        [currentPortfolioId]="currentPortfolioId"
        [isPageUserLoggedInUser]="isPageUserLoggedInUser"
        [pageUser]="pageUser"
        [loadUser]="loadUser.bind(this)"
      ></app-table-menu-header>

      <app-portfolio-table
        [tableData]="tableData"
        [currentTabIndex]="currentTabIndex"
      ></app-portfolio-table>
    </div>
  </div>
</div>
