/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"); */

:root {
  --color-primary: #325d88;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
}

/* custom utility classes */
.m-nav {
  margin-top: 75px;
}

/* overwriting bootstrap and bootswatch */
.container-xl {
  max-width: 1400px;
}

.btn {
  font-size: 0.8rem;
}

.navbar .nav-link {
  font-size: 1rem;
  font-weight: 400;
  text-transform: unset;
}

.nav-tabs .nav-link {
  font-size: 1rem;
}

.dropdown-menu .dropdown-item {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: unset;
}

/* overwriting ngx-bootstrap */
ul.nav.nav-tabs {
  margin-left: 1rem;
}

.tab-content {
  margin-left: 1rem;
}
