/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"); */
@font-face {
  font-family: roboto-regular;
  src: url("./assets/Roboto-Regular.ttf");
}

:root {
  --color-primary: #325d88;
  --color-primary-hover: #284a6c;
  --color-info: #29abe0;
  --color-secondary-hover: #7b7971;
  --color-danger: #d9534f;
  --color-warning: #f47c3c;
  --color-warning-hover: #f26418;
  --color-success: #5fb474;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
}

/* custom utility classes */
.m-nav {
  margin-top: 75px;
}

/* overwriting bootstrap and bootswatch */
.container-xl {
  max-width: 1400px;
}

.btn {
  font-size: 0.8rem;
}

/* a {
  color: var(--color-primary);
}
a:hover {
  color: var(--color-primary-hover);
} */

.navbar .nav-link {
  font-size: 1rem;
  font-weight: 400;
  text-transform: unset;
}

.nav-tabs .nav-link {
  font-size: 1rem;
}

.dropdown-menu .dropdown-item {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: unset;
}

a.dropdown-toggle.text-light:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0.3rem;
}

/* .form-control {
  height: 2.5rem;
} */

/* overwriting ngx-bootstrap */
ul.nav.nav-tabs {
  margin-left: 1rem;
}

.tab-content {
  margin-left: 1rem;
}

/* overwriting ngx-toastr */
.toast-info {
  background-color: var(--color-warning);
}
.toast-success {
  /* background-color: var(--color-primary); */
  background-color: var(--color-success);
}
