.username {
  font-size: 1.4rem;
}

.profile-image {
  object-fit: cover;
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.user-info-ul {
  list-style: none;
}

.btn-width {
  width: 6rem;
}

.following-btn {
  width: 6rem;
}
.following-btn:hover span {
  display: none;
}
.following-btn:hover:before {
  content: "Unfollow";
}
