.username {
  font-size: 1rem;
  margin-bottom: 0rem;
}

.profile-image {
  object-fit: cover;
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.user-info-ul {
  list-style: none;
  font-size: 0.95rem;
}

.btn-banner {
  width: 5rem;
  height: 1.8rem;
  line-height: 20px;
}

.following-btn {
  width: 5rem;
}
.following-btn:hover span {
  display: none;
}
.following-btn:hover:before {
  content: "Unfollow";
}

.banner-link {
  color: var(--color-primary);
  font-size: 0.95rem;
  width: min-content;
  display: flex;
}

.banner-h5 {
  font-size: 0.85rem;
  margin-top: 1.5rem;
  margin-bottom: 0.4rem;
  color: #8e8c84;
}
